<!DOCTYPE html>
<html lang="en">

    <head>
        <!--Required meta tags-->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/style.css')}}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
        <title>{% block title %}Base{% endblock %}</title>
    </head>

    <body>
        <nav>
            <div class="logo">
                    <h4>MIND-DUMP</h4>
            </div>
            <ul class = "nav-links">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">SignUp</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
            <div class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <script src="{{url_for('static', filename='app.js')}}"></script>
    </body>

</html>