{% extends "base.html" %} 
{% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Add Post</h1>

{% if user.is_authenticated %}
    <form method="POST">
        <textarea name="post" id="post"></textarea>
        <div align="center" >
            <button type="submit">Post!</button>
        </div>
    </form>
    <br>
{% endif %}

<ul id="posts">
    {% for post in posts %}
    <li class="display">
        {{ post.data }}
        <br>
        {{ post.userpost.username }}
        <button type="button" class="post-delete" onclick="deletePost({{ post.id }})">
            <span aria-hidden="true">&times;</span>
        </button> 
    </li>
    <br>
    {% endfor %}
</ul>
{% endblock %}